<?xml version="1.0" encoding="UTF-8"?>
<!--

	Copyright (C) 2012 Esup Portail http://www.esup-portail.org
	Copyright (C) 2012 RECIA http://www.recia.fr
	@Author (C) 2012 Julien Gribonvald <julien.gribonvald@recia.fr>

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
			http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
>

	<!-- we juste define PropertyPlaceholderConfigurer so that you can use java env var in your drives.xml if you need
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>-->

	<!--
	| Message source for this context, loaded from localized "messages_xx" files
	+-->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>

	<!--
	| Standard JSP view resolver
	+-->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="cache" value="true"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/> -->

	<bean id="requiredAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="userAgentInspector" class="org.esco.portlet.accueil.services.UserAgentInspector">
		<property name="userAgentAutorized">
			<list>
				<value>.*Firefox/([4-9]|([0-9]{2,})).*</value>
				<value>.*msie 9.0.*</value>
				<value>.*msie 10.0.*</value>
				<value>.*Trident/7.0; rv:11.0.*</value>
				<value>.*Iceweasel/([2-9]|[0-9]{2,}).*</value>
				<value>.*Chrome/([0-9]{2,}).*</value>
				<value>.*Opera/(9|([0-9]{2,})).*</value>
				<value>.*Version/([5-9]|([0-9]{2,})).*Safari.*</value>
				<value>.*iPad.*</value>
				<value>.*iPhone.*</value>
				<value>.*Android.*</value>
				<value>.*Safari.*Pre.*</value>
				<value>.*Nokia.*AppleWebKit.*</value>
			</list>
		</property>
		<property name="userAgentNotSecure">
			<list>
				<value>.*msie [1-8].0.*</value>
			</list>
		</property>
		<!-- <property name="userAgentMobile">
			<list>
				<value>.*iPhone.*</value>
				<value>.*Android.*</value>
				<value>.*Safari.*Pre.*</value>
				<value>.*Nokia.*AppleWebKit.*</value>
			</list>
		</property>-->
	</bean>
</beans>